body {
  background-color: black;
  color: white;
  margin: 1vw;
  font-family: 'Antonio';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code{
  font-family: 'Antonio';
}

a {
  color: white;
}

.Button{
  position: fixed;
  display: block;
  top: 90vh;
  left: 50%;
}

.SystemError {
  z-index:-1;
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  left: 0vw;
  top: 0vh;
  width: 110%;
  margin: 0;
}

.Eilmeldung {
  position: fixed;
  display: block;
  left: 0;
  top: 30vh;
  font-size: 6vh;
  height: 20vh;
  width: 110%;
  background-color: red;
  text-transform: uppercase;
  font-family: 'Antonio';
  font-size: 800%;
  animation: eilmeldung 2s ease-in-out;
}

@keyframes eilmeldung {
  0% {
    margin-top: -500px;
  }
  100% {
    margin-top: 0px; /* container height - (no. of images - 1) * image height*/
  }}

/*.Anzeige {
  position: center;
  background-color: red;
  color: black;
  margin: 0;
  height: 10vh;
}*/

.Reporter {
  z-index: -2;
  height: 100vh;
}

.Anzeige {
  position: absolute;
  height: 14vh;
  width: 100vw;
  bottom: 10vh;
  left: 0;
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 10vh;
  grid-template-areas: 
    "left rightup"
    "left rightdown";
  vertical-align: middle;
}

.BackHome {
  text-align: left;
  color: white;
}

.button-1 {
  background-color: black;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: white;
  padding: 40px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: opacity 1s;
}

.button-1:hover {
  opacity: 0.5;
}

.button-1:active {
  opacity: 0.5;
  color: black;
}


.button {
  background-color: rgba(35, 34, 34, 0.395);
  border-color: white;
  border-style: solid;
  border-width: 1px;
  width: 50%;
  margin-top: 50px;
  padding: 10px 0;
  color: #fff;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 1s;
}

.button-2 {
  border-radius: 50%;
}

/* .btn {
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
} */

.continue {
  text-align: center;

}

.continue--name {
  text-align: center;
}

.continue--tap {
  font-family: Inter;
  padding-top: 10px;
}

.convo {
  width: 100%;
  height: 100vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
}

.convo--name {
  background-color: rgb(95, 95, 95);
}

.convo--popup {
  width: 400px;
  background: rgba(35, 34, 34, 0.395);
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #fff;
}


.convo--popup img {

}

/* .popup h2 {
  font-size: 38px;
  font-weight: 500; 
  margin: 30px 0 10px;
} */

.convo--popup p {
  font-size: 16px;
  font-weight: 200; 
  margin: 30px 0 10px;
  text-align: left;
}

.convo--popup ul {
  font-size: 16px;
  font-weight: 200; 
  margin: 30px 0 10px;
  text-align: left;
}

.convo--popup button {
  background-color: rgba(35, 34, 34, 0.395);
  border-color: white;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  color: #fff;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 1s;
}

.convo--popup button:hover {
  opacity: 0.5;
}

.convo--popup button:active {
  background-color: white;
  opacity: 0.5;
  color: black;
}

.message {
  font-size: 96px;
  font-family: sans-serif;
  padding: 77px 150px;
  text-shadow: -5px -5px 2px #000;
  --height: 70px;
  min-height: var(--height);
  line-height: var(--height);
}

.Museum-logo {
  grid-area: left;
  background-color: white;
  width: 15vw;
  padding: 1%;
  z-index: 1;
}

.Nicht_Durchlaufend {
  height: 5vh;
  background-color: red;
  grid-area: rightup;
  font-size: 200%;
  padding-left: 1vw;
  text-transform: uppercase;
  text-align: left;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.Durchlaufend-back {
  background-color: black;
  height: 8vh;
  grid-area: rightdown;
}

.Durchlaufend {
  height: 4vh;
  grid-area: rightdown;
  color: white;
  font-size: 200%;
  vertical-align: middle;
  text-align: left;
  padding: 1.5vh 0 2vh 0;
  animation: bannermove 20s linear infinite;
  z-index: 0;
  white-space: nowrap
}


@keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -1000px; /* container height - (no. of images - 1) * image height */
  }
}

.Durchlaufend2 {
  height: 4vh;
  grid-area: rightdown;
  color: white;
  font-size: 200%;
  vertical-align: middle;
  text-align: left;
  padding: 1.5vh 0 2vh 0;
  animation: banner 10s linear infinite;
  z-index: 0;
  white-space: nowrap
}

@keyframes banner {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -1000px; /* container height - (no. of images - 1) * image height */
  }
}
.RepandDeep {
  background-color: none;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 10vh;
  grid-template-areas: 
    "left right"
}



.Deepfake_Video {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  left: 65vw;
  top: 15vh;
  right: 10vw;
  width: 30%; /* Full width (cover the whole page) */
  background-color: white(255, 255, 255, 0.5); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.Instagram_Banner{
  position:fixed;
  display: block;
  z-index: 1;
  top: 17.5vh;
  left: 65.5vw;
  width: 20vw;
  border: 2px;
  border-radius: 18px;
  padding: 0;  
  font-family: Inter;
}


.Navbarinsta {
  position:fixed;
  display: block;
  z-index: 0;
  top: 17vh;
  left: 65.5vw;
  width: 20vw;
  height: 2vh;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  font-family: Inter;

}

.nav-items{
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Instagram_Page {
  position:fixed;
  display: block;
  z-index: 0;
  top: 20vh;
  left: 65.5vw;
  width: 20vw;
  height: 60vh;
  background-color: white;
}

.slides {
  display: inline-flex; 
  height: var(--height); 
  overflow: hidden; 
  padding: 0 5px;
  margin: 0 -5px;
}

.slide1 {
  color: #2C2C2C;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  display: flex;
  flex-flow: column nowrap;
  transform: translateY(100%);
  animation: slide-up 9s ease infinite;
}




@keyframes slide-up {
  10%, 33% {
    transform: translateY(0%);
  }
  43%, 66% {
    transform: translateY(-100%);
  }
  76%, 100% {
    transform: translateY(-200%);
  }
}

.welcome {
  text-align: center;
  color: black;
}



.Insta_image {
  width: 3%;
  position: fixed;
  display: block;
  z-index: 2;
  left: 66vw;
  border-radius: 50%;
  border: 2px solid #fff;
}

.Insta_image2 {
  width: 3%;
  top: 21vh;
  position: fixed;
  display: block;
  z-index: 2;
  left: 66vw;
  border-radius: 50%;
  border: 2px solid #fff;
}

.Insta_name {
  font-weight: bold;
  position:fixed;
  display: block;
  z-index: 1;
  top: 19vh;
  left: 70vw;
  font-family: 'Inter';
  font-style: normal;
  
}

.Insta_name2 {
  font-weight: bold;
  position:fixed;
  display: block;
  z-index: 1;
  top: 22vh;
  left: 70vw;
  font-family: 'Inter';
  font-style: normal;
  color: black;
}

.Insta_time{
  font-weight: light;
  position:fixed;
  display: block;
  z-index: 1;
  top: 19vh;
  left: 78vw;
}

.Profil_bearbeiten {
  font-style: italic;
  position:fixed;
  display: block;
  z-index: 1;
  top: 40vh;
  left: 66vw;
  font-family: 'Inter';
  font-style: normal;
  color: black;
  padding-left: 0.5vw;
  border-bottom: 1px #dfdfdf;
}

.Profil_info {
  position:fixed;
  display: block;
  z-index: 1;
  top: 32vh;
  left: 66vw;
  font-family: 'Inter';
  color: black;
  padding-left: 0.5vw;
}

.Follower {
  position:fixed;
  display: block;
  z-index: 1;
  top: 24vh;
  left: 70vw;
  font-family: 'Inter';
  font-style: normal;
  color: black;
}


.Icons {
  background-color: cadetblue;
  font-weight: bold;
  position:fixed;
  display: block;
  z-index: 1;
  top: 55vh;
  left: 66vw;
  font-family: 'Inter';
  font-style: normal;
  background-color: violet;
}
.Content {
  
  position:fixed;
  display: block;
  z-index: 1;
  top: 46vh;
  left: 66vw;
  font-family: 'Inter';
  font-style: normal;
}

.Content_one {
  position:fixed;
  display: block;
  width: 6.2vw;
  top: 50vh;
  left: 66vw;
}

.Content_two {
  position:fixed;
  display: block;
  width: 6.2vw;
  top: 50vh;
  left: 68vw;
  margin-left: 4.4vw;
}

.Content_three {
  position:fixed;
  display: block;
  width: 6.2vw;
  top: 50vh;
  left: 70vw;
  margin-left: 8.8vw;
}

.Content_four {
  position:fixed;
  display: block;
  width: 6.2vw;
  top: 60vh;
  left: 66vw;
  margin-top: 1.3%;
}

.Content_five {
  position:fixed;
  display: block;
  width: 6.2vw;
  top: 60vh;
  left: 68vw;
  margin-left: 4.4vw;
  margin-top: 1.3%;
}

.ImageTile {
  max-width: 600px;
  max-height: 500px;
}

p.body-1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}


.InterSubheader {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  margin: 0;
  color: #FFFFFF;
}

.AntonioSuperheader {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  margin: 0;
  color: #2C2C2C;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
}

.AntonioSubheader {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: underline #B7B7B7 1px;
  text-underline-offset: 16px;
}

.TestTest {
  background-color: red;
}

.GoBackBtn {
  border: none;
  background-color: inherit;
  font-size: 21px;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-family: 'Inter';
  text-decoration: underline;
  text-underline-offset: 4px;
}

.bg-recording {
  background-image: url("./images/recording.jpg");
  background-size: cover;
  overflow: hidden;
}

.bg-deepfake {
  background-image: url("./images/deepfake.jpg");
  background-size: cover;
  overflow: hidden;
}

.bg-facerecognition {
  background-image: url("./images/face-recognition.jpg");
  background-size: cover;
  overflow: hidden;
}

.innerCircle {
  width: 64px;
  height: 64px;
  background-color:white;
  border-radius: 50%;
}

.Sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  display: block;
  padding: 64px;
}

.containerIntro {
  text-align: left;
  margin-left: 230px;
  height: 216px;
  justify-content: space-between;
  position: absolute;
  top: 25%;
  bottom: 75%;
}

/* layout styles for touch display 24" */
.containerOverview {
  display: grid;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  margin-left: 400px;
}

/* layout styles for view on smaller screens (e.g. MacbookAir 13" ) */
@media (min-width: 1400px) {
	.containerOverview { 
    grid-template-columns: 500px 500px;
    margin-left: 200px;
    margin-top: 100px;

  }
}

@media (min-width: 1600px) {
	.containerOverview { 
    grid-template-columns: 700px 700px;
    grid-template-rows: 350px 350px;
    margin-left: 230px;
    margin-top: 60px;

  }
}

.containerPointMarks {
  margin-left: 90px;
  margin-top: 60px;
}

.TextTile {
  background-size: cover;
}

.RecordingTile {
  background-image: url("./images/recording.jpg");
  background-size: cover;
}

.DeepfakeTile {
  background-image: url("./images/deepfake.jpg");
  background-size: cover;
}

.RecognitionTile {
  background-image: url("./images/face-recognition.jpg");
  background-size: cover;
}

.PaginationList {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  list-style-type: none;
  display: flex;
}

.PaginationList li {
  margin-right: 36px;
}


