body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p.body-1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  width: 700px;
}

.BgBlack {
  background-color: black;
  height: 100vh;
  width: 100vh;

}

.InterSubheader {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
}

.AntonioSuperheader {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 124px;
  color: #2C2C2C;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
}

.AntonioSubheader {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  text-transform: uppercase;
  color: #FFFFFF;
}
